/* Desktop */

html {
    height: 100%;
}

body {
	background-image: url('../images/Wood.jpg');
	font-family: Helvetica;
	height: 100%;
	margin:0;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
		 -o-font-smoothing: antialiased;
			font-smoothing: antialiased;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header{
	width: 100%;
	height: 190px;
	position: relative;
}

#logo {
	display: block;
	position: relative;
	margin: 0 auto;
	float: left;
	max-width: 60%;
	height: auto;
	padding-top: 11px;
	padding-left: 70px;
}

#title {
	display: block;
	position: relative;
	float: none;
	margin: 0 auto;
	max-width: 60%;
	height: auto;
	padding-top: 61px;
}

#hamburger {
	display: none;
	margin: 0;
	float: right;
	width: 51px;
	height: 49px;
}

#nav-mobile {
	display: none;
}

#nav {
  font-size: 32px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  text-align: left;
}
#nav > ul {
  	width: 100%;
  	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #2A5242;
}

#nav > ul li {
	width: 25%;
  	display: inline-block;
  	*display: inline;
  	zoom: 1;
}
#nav > ul li.right {
  	float: right;
}
#nav > ul li.has-sub {
  	position: relative;
}
#nav > ul li.has-sub:hover ul {
  	display: block;
}
#nav > ul li.has-sub ul {
  	display: none;
  	width: 100%;
  	position: absolute;
  	margin: 0;
  	padding: 0;
  	list-style-type: none;
  	background: #2A5242;
   	z-index: 100;
}
#nav > ul li.has-sub ul li {
	width: 100%;
	padding: 0;
	margin: 0;
	text-transform: lowercase;
  	display: block;
}

#nav > ul li.has-sub ul li a{
	width: 100%;
	font-size: 27px;
	padding: 0;
	text-align: center;
	margin: 0;
	text-transform: lowercase;
  	display: block;
}

#nav > ul li a {
  	display: block;
  	margin: 0;
  	text-align: center;
 	text-decoration: none;
  	color: white;
}
#nav > ul li a:hover {
  	background: #553A1F;
  	color: #D2D50B;
}

#mobile-title {
	display: none;
	margin: 0;
	float: right;
	width: 720px;
	height: 74px;
	padding-top: 61px;
	padding-right: 180px;
}

.body {
	background-color: #EBEBEB;
	position: relative;
	width: 100%;
	overflow: auto;
}

.body-content {
	padding-top: 10px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 10px;
	position: relative;
}

h1 {
	font-size: 34pt;
	margin: 0;
	margin-top: 15px;
}

#food-content {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}

#starters {
	float: left;
	text-align: center;
	width: 48%;
	padding-right: 15px;
}
#entrees {
	float: left;
	text-align: center;
	width: 48%;
	padding-left: 15px;
}

h2 {
	font-size: 26pt;
	text-align: center;
	margin: 0;
	margin-top: 35px;
	margin-bottom: 20px;
}

h3 {
	font-size: 18pt;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
}

p#item-name{
	font-weight: 500;
	font-size: 22pt;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

p#item-description {
	font-weight: normal;
	font-style: italic;
	font-size: 16pt;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

.mobile-footer {
	display: none;
}

.footer {
	width: 100%;
	height: 100px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
}

.social {
	display: inline-block;
	float: left;
	width: 25%;
	margin-left: 7%;
}

.social img {
	display: block;
	float: left;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-transition: .3s ease-in;
	   -moz-transition: .3s ease-in;
	     -o-transition: .3s ease-in;
	        transition: .3s ease-in;
}

#facebook {
	display: block;
	position: relative;
	width: 66px;
	height: 67px;
}

#twitter {
	display: block;
	position: relative;
	width: 66px;
	height: 67px;
}

#yelp {
	display: block;
	position: relative;
	width: 66px;
	height: 67px;
}

#f-active {
	position: absolute;
	width: 66px;
	height: 67px;
}

#t-active {
	position: absolute;
	left: 76px;
	width: 66px;
	height: 67px;
}

#y-active {
	position: absolute;
	left: 152px;
	width: 66px;
	height: 67px;
}

#facebook:hover {
	opacity: 0;
}

#twitter:hover {
	opacity: 0;
}

#yelp:hover {
	opacity: 0;
}

#address, #contact {
	display: block;
	margin:0;
	float: left;
	width: 20%;
	padding-top: 30px;
	padding-left: 30px;
	font-size: 14pt;
	font-weight: bold;
	color: white;
}

#email-icon {
	width: 35%;
	margin: 0;
	margin-left: auto;
	float: none;
}

#envelope {
	display: inline-block;
	float: none;
	position: absolute;
	padding-top: 35px;
	margin-left: -58px;
	-webkit-transition: .3s ease-in;
	   -moz-transition: .3s ease-in;
		 -o-transition: .3s ease-in;
			transition: .3s ease-in;
	width: 58px;
	height: 38px;
}
#e-active {
	position: relative;
	display: inline-block;
	float: none;
	padding-top: 35px;
	margin-left: 100px;
	width: 58px;
	height: 38px;
}

#envelope:hover {
	opacity: 0;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
       -moz-transition: opacity 400ms ease-in;
    	 -o-transition: opacity 400ms ease-in;
    		transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 600px;
    position: relative;
    margin: 15% auto;
    padding: 20px 30px 20px 30px;
    border: black 5px solid;
    border-radius: 10px;
    background: #EBEBEB;
}
.close {
    background: #2A5242;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #D2D50B;
}

.modal-header {
  	min-height: 16.42857143px;
  	padding: 15px;
}

.modal-title {
  	margin: 0;
  	font-size: 20pt;
  	line-height: 1.42857143;
}

.modal-body {
  	position: relative;
  	padding: 15px;
}

.form-group {
  	margin-bottom: 20px;
}

.form-control {
	display: block;
	width: 95%;
	height: 34px;
	padding: 6px 12px;
	margin-top: 10px;
	margin-left: -2px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-control:focus {
  	border-color: gray;
  	outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.modal-footer {
  	padding-left: 20px;
  	padding-right: 20px;
  	padding-bottom: 20px;
  	text-align: right;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  	color: #fff;
  	background-color: #2A5242;
  	border-color: gray;
}

.btn-primary:hover {
  	color: black;
  	background-color: #D2D50B;
  	border-color: black;
}


/* Desktop Fix */
@media (max-width: 1020px) {
	#starters {
		width: 100%;
	}
	#entrees {
		width: 100%;
	}
	.social {
		margin-left: 5%;
		margin-right: -5%;
		width: 30%;
	}
	#contact {
		margin-right: -2%;
	}

	.modalDialog > div {
	    width: 600px;
	    position: relative;
	    margin: 25% auto;
	    padding: 20px 30px 20px 30px;
	    border: black 5px solid;
	    border-radius: 10px;
	    background: #EBEBEB;
	}
}

/* Tablet */

@media (max-width:768px) {
	.header{
		width: 100%;
		height: 121.6px;
		position: relative;
	}

	#logo {
		display: block;
		position: relative;
		margin: 0 auto;
		float: left;
		width: 12%;
		height: auto;
		padding-top: 11px;
		padding-left: 70px;
	}

	#title {
		display: block;
		position: relative;
		float: none;
		margin: 0 auto;
		width: 60%;
		height: auto;
		padding-top: 42px;
	}

	#nav {
	  	font-size: 24px;
	  	font-weight: bold;
	  	line-height: 46.08px;
	  	text-transform: uppercase;
	  	text-align: left;
	}

	#nav > ul li.has-sub:hover ul {
	  	display: none;
	}
	#nav > ul li.has-sub ul li a{
		font-size: 20px;
	}
	#nav > ul li a:hover {
	  	background: none;
	  	color: white;
	}

	.body-content {
		padding-top: 6.4px;
		padding-left: 51.2px;
		padding-right: 51.2px;
		padding-bottom: 6.4px;
		position: relative;
	}

	h1 {
		font-size: 21.76pt;
		margin: 0;
		margin-top: 9.6px;
	}

	#food-content {
		float: left;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	#starters {
		float: left;
		text-align: center;
		width: 48%;
		padding-right: 9.6px;
	}
	#entrees {
		float: left;
		text-align: center;
		width: 48%;
		padding-left: 9.6px;
	}

	h2 {
		font-size: 20pt;
		text-align: center;
		margin: 0;
		margin-top: 22.4px;
		margin-bottom: 12.8px;
	}

	h3 {
		font-size: 16pt;
		text-align: center;
		margin: 0;
		padding: 0;
		margin-bottom: 22.4px;
	}

	p#item-name{
		font-weight: 500;
		font-size: 15pt;
		text-align: center;
		margin: 0;
		margin-bottom: 3.2px;
		padding: 0;
	}

	p#item-description {
		font-weight: normal;
		font-style: italic;
		font-size: 14pt;
		text-align: center;
		margin: 0;
		margin-bottom: 3.2px;
		padding: 0;
	}

	.footer {
		height: 64px;
	}

	.social {
		margin-left: 5%;

	}

	.social img {
		display: block;
		float: none;
		padding-top: 12.8px;
		padding-left: 3.2px;
		padding-right: 3.2px;
	}

	#facebook {
		display: none;
		position: relative;
	}

	#twitter {
		display: none;
		position: relative;
	}

	#yelp {
		display: none;
		position: relative;

	}

	#f-active {
		position: absolute;
		width: 42.24px;
		height: 42.88px;
	}

	#t-active {
		position: absolute;
		left: 48.64px;
		width: 42.24px;
		height: 42.88px;
	}

	#y-active {
		position: absolute;
		left: 97.28px;
		width: 42.24px;
		height: 42.88px;
	}

	#address {
		margin-left: 200px;
		padding-top: 19.2px;
		font-size: 10pt;
		font-weight: bold;
		color: white;
	}

	#contact {
		padding-top: 19.2px;
		font-size: 10pt;
		font-weight: bold;
		color: white;
	}

	#envelope {
		display: none;

	}
	#e-active {
		margin-left: 70px;
		padding-top: 25px;
		width: 37.12px;
		height: 24.32px;
	}

	.modalDialog > div {
	    width: 600px;
	    position: relative;
	    margin: 35% auto;
	    padding: 20px 30px 20px 30px;
	    border: black 5px solid;
	    border-radius: 10px;
	    background: #EBEBEB;
	}
}

/* Mobile */

@media (max-width: 640px) {
	body {
		background-image: none;
	}
	.container {
		width: 100%;
		margin: 0 auto;
	}

	.header{
		width: 100%;
		background-color: #553A1F;
		height: 100px;
		position: relative;
	}

	#logo {
		display: block;
		margin:0;
		float: left;
		width: 75px;
		height: 83.5px;
		padding-top: 7px;
		padding-left: 40px;
	}

	#title {
		display: none;
	}

	#hamburger {
		display: block;
		margin: 0;
		float: right;
		padding-top: 20px;
		padding-right: 40px;
		width: 61.2px;
		height: 58.8px;
	}

	#nav {
		display: none;
	}

	#nav-mobile {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		max-height: 0;
		overflow: hidden;
    	list-style: none;
    }

  	#nav-mobile.show, .hide {
		-webkit-transform-origin: 50%, 0%;
		   -moz-transform-origin: 50%, 0%;
			 -o-transform-origin: 50%, 0%;
				transform-origin: 50%, 0%;
	}

	#nav-mobile.show {
		display: block;
		max-height: 9999px;
		-webkit-transform: scaleY(1);
		   -moz-transform: scaleY(1);
			 -o-transform: scaleY(1);
				transform: scaleY(1);
		-webkit-animation: showAnimation .5s ease-in-out;
		   -moz-animation: showAnimation .5s ease-in-out;
			 -o-animation: showAnimation .5s ease-in-out;
				animation: showAnimation .5s ease-in-out;
		-webkit-transition: max-height 1s ease-in-out;
		   -moz-transition: max-height 1s ease-in-out;
			 -o-transition: max-height 1s ease-in-out;
				transition: max-height 1s ease-in-out;
	}

	#nav-mobile.hide {
		max-height: 0;
		-webkit-transform: scaleY(0);
		   -moz-transform: scaleY(0);
			 -o-transform: scaleY(0);
				transform: scaleY(0);
		-webkit-animation: hideAnimation .4s ease-out;
		   -moz-animation: hideAnimation .4s ease-out;
			 -o-animation: hideAnimation .4s ease-out;
				animation: hideAnimation .4s ease-out;
		-webkit-transition: max-height .6s ease-out;
		   -moz-transition: max-height .6s ease-out;
			 -o-transition: max-height .6s ease-out;
				transition: max-height .6s ease-out;
	}

  	#nav-mobile > ul {
  		margin: 0;
  		padding: 0;
    	list-style: none;
    	line-height: 75px;
  	}

	.dropdown a{
    	font-size: 30px;
		text-decoration: none;
    	text-align: center;
   		border: 1px #2d2f31 solid;
   		position: relative;
		display: block;
		color: white;
		background: #2A5242;
	}

	#dropdown-specials {
		max-height: 0;
		overflow: hidden;
    	list-style: none;
    	margin: 0;
    	padding: 0;
    }
	
	#dropdown-specials li {
		padding: 0;
	}
	
	#dropdown-specials li a {
		display: block;
		color: white;
		background: #553A1F;
		padding: 10px 10px;
	}

	#dropdown-specials.show, .hide {
		-webkit-transform-origin: 50%, 0%;
		   -moz-transform-origin: 50%, 0%;
			 -o-transform-origin: 50%, 0%;
				transform-origin: 50%, 0%;
	}

	#dropdown-specials.show {
		display: block;
		max-height: 9999px;
		-webkit-transform: scaleY(1);
		   -moz-transform: scaleY(1);
			 -o-transform: scaleY(1);
				transform: scaleY(1);
		-webkit-animation: showAnimation .5s ease-in-out;
		   -moz-animation: showAnimation .5s ease-in-out;
			 -o-animation: showAnimation .5s ease-in-out;
				animation: showAnimation .5s ease-in-out;
		-webkit-transition: max-height 1s ease-in-out;
		   -moz-transition: max-height 1s ease-in-out;
			 -o-transition: max-height 1s ease-in-out;
				transition: max-height 1s ease-in-out;
	}

	#dropdown-specials.hide {
		max-height: 0;
		-webkit-transform: scaleY(0);
		   -moz-transform: scaleY(0);
			 -o-transform: scaleY(0);
				transform: scaleY(0);
		-webkit-animation: hideAnimation .4s ease-out;
		   -moz-animation: hideAnimation .4s ease-out;
			 -o-animation: hideAnimation .4s ease-out;
				animation: hideAnimation .4s ease-out;
		-webkit-transition: max-height .6s ease-out;
		   -moz-transition: max-height .6s ease-out;
			 -o-transition: max-height .6s ease-out;
				transition: max-height .6s ease-out;
	}

	#dropdown-menus {
		max-height: 0;
		overflow: hidden;
    	list-style: none;
    	margin: 0;
    	padding: 0;
    }
	
	#dropdown-menus li {
		padding: 0;
	}
	
	#dropdown-menus li a {
		display: block;
		color: white;
		background: #553A1F;
		padding: 10px 10px;
	}


	#dropdown-menus.show, .hide {
		-webkit-transform-origin: 50%, 0%;
		   -moz-transform-origin: 50%, 0%;
		   	 -o-tranform-origin: 50%, 0%;
		   	    transform-origin: 50%, 0%;
	}

	#dropdown-menus.show {
		display: block;
		max-height: 9999px;
		-webkit-transform: scaleY(1);
		   -moz-transform: scaleY(1);
			 -o-transform: scaleY(1);
				transform: scaleY(1);
		-webkit-animation: showAnimation .5s ease-in-out;
		   -moz-animation: showAnimation .5s ease-in-out;
			 -o-animation: showAnimation .5s ease-in-out;
				animation: showAnimation .5s ease-in-out;
		-webkit-transition: max-height 1s ease-in-out;
		   -moz-transition: max-height 1s ease-in-out;
			 -o-transition: max-height 1s ease-in-out;
				transition: max-height 1s ease-in-out;
	}

	#dropdown-menus.hide {
		max-height: 0;
		-webkit-transform: scaleY(0);
		   -moz-transform: scaleY(0);
			 -o-transform: scaleY(0);
				transform: scaleY(0);
		-webkit-animation: hideAnimation .4s ease-out;
		   -moz-animation: hideAnimation .4s ease-out;
			 -o-animation: hideAnimation .4s ease-out;
				animation: hideAnimation .4s ease-out;
		-webkit-transition: max-height .6s ease-out;
		   -moz-transition: max-height .6s ease-out;
			 -o-transition: max-height .6s ease-out;
				transition: max-height .6s ease-out;
	}

	@-webkit-keyframes showAnimation {
		0% { -webkit-transform: scaleY(0.1); }
		40% { -webkit-transform: scaleY(1.04); }
		60% { -webkit-transform: scaleY(0.98); }
		80% { -webkit-transform: scaleY(1.04); }
		100% { -webkit-transform: scaleY(0.98); }		
		80% { -webkit-transform: scaleY(1.02); }
		100% { -webkit-transform: scaleY(1); }
	}

	@-webkit-keyframes hideAnimation {
  		0% { -webkit-transform: scaleY(1);}
  		60% { -webkit-transform: scaleY(0.98); }
  		80% { -webkit-transform: scaleY(1.02); }
  		100% { -webkit-transform: scaleY(0); }
	}

	@-moz-keyframes showAnimation {
		0% { -moz-transform: scaleY(0.1); }
		40% { -moz-transform: scaleY(1.04); }
		60% { -moz-transform: scaleY(0.98); }
		80% { -moz-transform: scaleY(1.04); }
		100% { -moz-transform: scaleY(0.98); }		
		80% { -moz-transform: scaleY(1.02); }
		100% { -moz-transform: scaleY(1); }
	}

	@-moz-keyframes hideAnimation {
  		0% { -moz-transform: scaleY(1);}
  		60% { -moz-transform: scaleY(0.98); }
  		80% { -moz-transform: scaleY(1.02); }
  		100% { -moz-transform: scaleY(0); }
	}

	@-o-keyframes showAnimation {
		0% { -o-transform: scaleY(0.1); }
		40% { -o-transform: scaleY(1.04); }
		60% { -o-transform: scaleY(0.98); }
		80% { -o-transform: scaleY(1.04); }
		100% { -o-transform: scaleY(0.98); }		
		80% { -o-transform: scaleY(1.02); }
		100% { -o-transform: scaleY(1); }
	}

	@-o-keyframes hideAnimation {
  		0% { -o-transform: scaleY(1);}
  		60% { -o-transform: scaleY(0.98); }
  		80% { -o-transform: scaleY(1.02); }
  		100% { -o-transform: scaleY(0); }
	}

	@keyframes showAnimation {
		0% { transform: scaleY(0.1); }
		40% { transform: scaleY(1.04); }
		60% { transform: scaleY(0.98); }
		80% { transform: scaleY(1.04); }
		100% { transform: scaleY(0.98); }		
		80% { transform: scaleY(1.02); }
		100% { transform: scaleY(1); }
	}

	@keyframes hideAnimation {
  		0% { transform: scaleY(1);}
  		60% { transform: scaleY(0.98); }
  		80% { transform: scaleY(1.02); }
  		100% { transform: scaleY(0); }
	}

	#mobile-title {
		display: block;
		float: none;
		margin: 0 auto;
		max-width: 75%;
		height: auto;
		padding: 20px;
	}

	.body-content {
		margin: 0;
		padding: 0;
		position: relative;
	}

	h1 {
		font-size: 30pt;
		text-align: center;
		margin: 0;
		margin-top: 12px;
	}

	#food-content {
		float: left;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	#starters {
		float: left;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 95%;
	}
	#entrees {
		float: left;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 95%;
	}

	h2 {
		font-size: 20pt;
		text-align: center;
		margin: 0;
		margin-top: 15px;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 18pt;
		text-align: center;
		margin: 0;
		padding: 0;
		margin-bottom: 30px;
	}

	p#item-name{
		font-weight: 500;
		font-size: 18pt;
		text-align: center;
		margin: 0;
		margin-bottom: 5px;
		padding: 0;
	}

	p#item-description {
		font-weight: normal;
		font-style: italic;
		font-size: 16pt;
		text-align: center;
		margin: 0;
		margin-bottom: 5px;
		padding: 0;
	}

	.footer {
		display: none;
	}

	.mobile-footer {
		display: block;
		width: 100%;
		height: 250px;
		background-color: #553A1F;
		position: relative;
		margin: 0;
		overflow-y: hidden;
		padding: 0;
		padding-bottom: 50px;
	}

	.mobile-social {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}

	.mobile-social img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 12.8px;
	}

	#mobile-facebook {
		position: relative;
		display: inline-block;
		margin-right: auto;
		margin-left: auto;
		width: 63.36px;
		height: 64.32px;
	}

	#mobile-twitter {
		position: relative;
				display: inline-block;
		margin-right: auto;
		margin-left: auto;
		width: 63.36px;
		height: 64.32px;
	}

	#mobile-yelp {
		position: relative;
				display: inline-block;
		margin-right: auto;
		margin-left: auto;
		width: 63.36px;
		height: 64.32px;
	}

	#mobile-address {
		display: block;
		text-align: center;
		margin: 0;
		float: left;
		width: 100%;
		padding-top: 24px;
		font-size: 14pt;
		font-weight: bold;
		color: white;
	}

	#mobile-contact {
		display: block;
		margin: 0;
		text-align: center;
		float: left;
		width: 100%;
		padding-top: 12px;
		font-size: 14pt;
		font-weight: bold;
		color: white;
	}

	#e-active {
		position: relative;
		display: block;
		float: none;
		margin: 0 auto;
		margin-top: -10px;
		width: 55.68px;
		height: 36.48px;
	}

	.mobile-modalDialog {
	    position: fixed;
	    font-family: Arial, Helvetica, sans-serif;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: rgba(0, 0, 0, 0.8);
	    z-index: 99999;
	    opacity:0;
	    -webkit-transition: opacity 400ms ease-in;
	       -moz-transition: opacity 400ms ease-in;
	    	 -o-transition: opacity 400ms ease-in;
	    		transition: opacity 400ms ease-in;
	    pointer-events: none;
	}
	.mobile-modalDialog:target {
	    opacity:1;
	    pointer-events: auto;
	}
	.mobile-modalDialog > div {
	    width: 70%;
	    position: relative;
	    margin: 25% auto;
	    padding: 10px 30px 10px 30px;
	    border: black 5px solid;
	    border-radius: 10px;
	    background: #EBEBEB;
	}
	.mobile-close {
	    background: #2A5242;
	    color: #FFFFFF;
	    line-height: 25px;
	    position: absolute;
	    right: -12px;
	    text-align: center;
	    top: -10px;
	    width: 24px;
	    text-decoration: none;
	    font-weight: bold;
	    border-radius: 12px;
	    box-shadow: 1px 1px 3px #000;
	}

	.mobile-modal-header {
	  	min-height: 16.42857143px;
	  	padding: 15px;
	}

	.mobile-modal-title {
	  	margin: 0;
	  	font-size: 20pt;
	  	line-height: 1.42857143;
	}

	.mobile-modal-body {
	  	position: relative;
	  	padding: 15px;
	}

	.mobile-form-group {
	  	margin-bottom: 20px;
	}

	.mobile-form-control {
	  	display: block;
	  	width: 95%;
	  	height: 34px;
	  	padding: 6px 12px;
	  	margin-top: 10px;
	  	margin-left: -2px;
	  	font-size: 16px;
	  	line-height: 1.42857143;
	  	color: #555;
	  	background-color: #fff;
	  	background-image: none;
	  	border: 1px solid #ccc;
	  	border-radius: 4px;
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	}

	.mobile-form-control:focus {
	  	border-color: gray;
	  	outline: 0;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	}

	.mobile-modal-footer {
	  	padding-left: 20px;
	  	padding-right: 20px;
	  	padding-bottom: 20px;
	  	text-align: right;
	}

	.mobile-btn {
		display: inline-block;
		padding: 8px 20px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}

	.mobile-btn-primary,
	.mobile-btn-primary:focus,
	.mobile-btn-primary:active,
	.mobile-btn-primary.active {
	  	color: #fff;
	  	background-color: #2A5242;
	  	border-color: gray;
	}
}