/* Desktop */

html {
    height: 100%;
}

body {
	background-image: url('../images/Wood.jpg');
	font-family: Helvetica;
	height: 100%;
	margin:0;
	-webkit-font-smoothing: antialiased;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header{
	width: 100%;
	height: 190px;
	position: relative;
}

.logo {
	display: block;
	margin:0;
	float: left;
	transition: .3s ease-in-out;
	width: 150px;
	height: 167px;
	padding-top: 11px;
	padding-left: 70px;
}

.title {
	display: block;
	margin: 0;
	float: right;
	width: 714px;
	height: 68px;
	padding-top: 61px;
	padding-right: 180px;
}


#nav {
  font-size: 32px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  text-align: left;
}
#nav > ul {
  width: auto;
  list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #2A5242;
}

#nav > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#nav > ul li.right {
  float: right;
}
#nav > ul li.has-sub {
  position: relative;
}
#nav > ul li.has-sub:hover ul {
  display: block;
}
#nav > ul li.has-sub ul {
  display: none;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #2A5242;
   z-index: 100;
}
#nav > ul li.has-sub ul li {
	width: 100%;
	padding: 0;
	margin: 0;
	text-transform: lowercase;
  	display: block;
}

#nav > ul li.has-sub ul li a{
	width: 100%;
	font-size: 27px;
	padding: 0;
	text-align: center;
	margin: 0;
	text-transform: lowercase;
  	display: block;
}

#nav > ul li a {
  display: block;
  margin: 0;
  padding: 5px 83.5px 5px 83.5px;
  text-decoration: none;
  color: white;
}
#nav > ul li a:hover {
  background: #553A1F;
  color: #D2D50B;
}

.photo {
	width: 100%;
	height: 489px;
/*
	height: 468px;*/
	position: relative;
	background-image: url('../images/Taps.jpg');
}

.body {
	background-color: #EBEBEB;
	position: relative;
	transition: .2s ease-in;
	width: 100%;
}

.body-content {
/*	position: relative;
	left: 50%;
	text-align: center;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);*/
}

.footer {
	width: 100%;
	height: 100px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
}

.social {
	display: inline-block;
	float: left;
	margin-left: 100px;
	margin-right: 75px;
}

.social img {
	display: block;
	float: left;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	transition: .3s ease-in;
}

#facebook:hover {
	opacity: 0;
}

#twitter:hover {
	opacity: 0;
}

#yelp:hover {
	opacity: 0;
}

.address, .contact {
	display: block;
	margin:0;
	float: left;
	width: 220px;
	padding-top: 15px;
	padding-left: 30px;
	font-size: 14pt;
	font-weight: bold;
	color: white;
}

.email {
	display: inline-block;
	float: left;
	margin-left: 100px;
	margin-right: 100px;
}

.email img {
	display: block;
	float: left;
	padding-top: 35px;
	padding-left: 5px;
	padding-right: 5px;
	transition: .3s ease-in;
}

#envelope:hover {
	opacity: 0;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 600px;
    position: relative;
    margin: 15% auto;
    padding: 20px 30px 20px 30px;
    border: black 5px solid;
    border-radius: 10px;
    background: #EBEBEB;
    background: -moz-linear-gradient(#EBEBEB, #999);
    background: -webkit-linear-gradient(#EBEBEB, #999);
    background: -o-linear-gradient(#EBEBEB, #999);
}
.close {
    background: #2A5242;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #D2D50B;
}

.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
}

.modal-title {
  margin: 0;
  font-size: 20pt;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  display: block;
  width: 95%;
  height: 34px;
  padding: 6px 12px;
  margin-top: 10px;
  margin-left: -2px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  	border-color: gray;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.modal-footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: right;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  	color: #fff;
  	background-color: #2A5242;
  	border-color: grey;
}

.btn-primary:hover {
  color: black;
  background-color: #D2D50B;
  border-color: black;
}

/* Tablet */

@media (max-width:980px) {
	.container {
/*		width: 700px;
*/	}
}

/* Mobile */

@media (max-width: 742px) {
	.container {
/*		width: 90%;
*/	}
	.header {
/*		max-height: 80px;
		background-color: #597ea5;
*/	}

	.logo h1 {
/*		color: #ffffff;
		height: 50px;
		width: 100%;
		font-size: 42px;
*/	}
	.logo h1:hover {
/*		font-size: 42px;
*/	}
	.menu-icon {
/*		display: block;
		float: right;
		font-size: 36px;
		color: #ffffff;
		position: relative;
		top: -47px;
		cursor: pointer;
*/	}
	.nav {
/*		display: block;
		float: right;
		margin-top: 10px;
		position: relative;
		background-color: #fff;
		margin-right: -30px;
		width: 40%;
		opacity: 0;
		z-index: 100;
*/	}

	.nav.shown {
/*		opacity: 1;
		z-index: 100;
*/	}
	.nav a {
/*		float: none;
		border-bottom: 1px solid gray;
		margin: 0;
		padding: 10px;
*/	}
	.body a.main-button {
/*		font-size: 18px;
*/	}

}