/* Desktop */
/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*/
html {
    height: 100%;
}

body {
	background-image: url('../images/Wood.jpg');
	font-family: Helvetica;
	height: 100%;
	margin:0;
	-webkit-font-smoothing: antialiased;
}


.container {
	max-width: 1199.95px;
	margin: 0 auto;
}

.header{
	width: 100%;
	height: 190px;
	position: relative;
}

.logo {
	display: block;
	margin:0;
	float: left;
	transition: .3s ease-in-out;
	width: 150px;
	height: 167px;
	padding-top: 11px;
	padding-left: 70px;
}

.title {
	display: block;
	margin: 0;
	float: right;
	width: 714px;
	height: 68px;
	padding-top: 61px;
	padding-right: 180px;
}

#cssmenu {
  font-size: 32px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  text-align: left;
}
#cssmenu > ul {
  width: auto;
  list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #2A5242;
}
#cssmenu > ul li#responsive-tab {
  display: none;

  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: -8px;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #2A5242;
   z-index: 100;
}
#cssmenu > ul li.has-sub ul li {
	width: 100%;
	font-size: 20px;
	padding: 0;
	margin: 0;
	text-transform: lowercase;
  	display: block;
}

#cssmenu > ul li.has-sub ul li a{
	width: 100%;
	font-size: 20px;
	padding: 0;
	margin: 0;
	text-transform: lowercase;
  	display: block;
}

#cssmenu > ul li a {
  display: block;
  margin: 0;
  padding: 15px 83.5px 15px 83.5px;
  text-decoration: none;
  color: white;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #553A1F;
  color: #D2D50B;
}

.photo {
	width: 100%;
	height: 468px;
	position: relative;
	background-image: url('../images/Taps.jpg');
}

.body {
	background-color: #EBEBEB;
	position: relative;
	transition: .2s ease-in;
	width: 100%;
}

.body-content {
/*	position: relative;
	left: 50%;
	text-align: center;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);*/
}

.footer {
	width: 100%;
	height: 100px;
	position: relative;
	margin-top: -30px;
}

.social {
	display: inline-block;
	float: left;
	margin-left: 100px;
	margin-right: 75px;
}

.social img {
	display: block;
	float: left;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	transition: .3s ease-in;
}

#facebook:hover {
	opacity: 0;
}

#twitter:hover {
	opacity: 0;
}

#yelp:hover {
	opacity: 0;
}

.address, .contact {
	display: block;
	margin:0;
	float: left;
	width: 220px;
	padding-top: 15px;
	padding-left: 30px;
	font-size: 14pt;
	font-weight: bold;
	color: white;
}

.email {
	display: inline-block;
	float: left;
	margin-left: 100px;
	margin-right: 100px;
}

.email img {
	display: block;
	float: left;
	padding-top: 35px;
	padding-left: 5px;
	padding-right: 5px;
	transition: .3s ease-in;
}

#envelope:hover {
	opacity: 0;
}

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 10px solid black;
	background-color: #EBEBEB;
	z-index:1002;
	overflow: auto;
}

/* Tablet */

@media (max-width:980px) {
	.container {
/*		width: 700px;
*/	}
}

/* Mobile */

@media (max-width: 742px) {
	.container {
/*		width: 90%;
*/	}
	.header {
/*		max-height: 80px;
		background-color: #597ea5;
*/	}

	.logo h1 {
/*		color: #ffffff;
		height: 50px;
		width: 100%;
		font-size: 42px;
*/	}
	.logo h1:hover {
/*		font-size: 42px;
*/	}
	.menu-icon {
/*		display: block;
		float: right;
		font-size: 36px;
		color: #ffffff;
		position: relative;
		top: -47px;
		cursor: pointer;
*/	}
	.nav {
/*		display: block;
		float: right;
		margin-top: 10px;
		position: relative;
		background-color: #fff;
		margin-right: -30px;
		width: 40%;
		opacity: 0;
		z-index: 100;
*/	}

	.nav.shown {
/*		opacity: 1;
		z-index: 100;
*/	}
	.nav a {
/*		float: none;
		border-bottom: 1px solid gray;
		margin: 0;
		padding: 10px;
*/	}
	.body a.main-button {
/*		font-size: 18px;
*/	}

}